version: '3.8'
services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - 3000:3000
    environment:
      - MONGO_URI=mongodb://admin:pass@mongodb:27017/estudos?authSource=admin
    depends_on:
      mongodb:
        condition: service_healthy
    networks:
      - mongodb_network
  mongodb:
    image: mongo:latest
    restart: always
    ports:
      - 27017:27017
    environment:
      - MONGO_INITDB_ROOT_USERNAME=admin
      - MONGO_INITDB_ROOT_PASSWORD=pass
    healthcheck:
      test: ["CMD", "mongosh", "--eval", "db.adminCommand('ping')"]
      interval: 5s
      timeout: 5s
      retries: 5
    networks:
      - mongodb_network
  mongo-express:
    image: mongo-express:latest
    restart: always
    ports:
      - 8081:8081
    environment:
      - ME_CONFIG_BASICAUTH_USERNAME=admin
      - ME_CONFIG_BASICAUTH_PASSWORD=pass
      - ME_CONFIG_MONGODB_URL=mongodb://admin:pass@mongodb:27017/?authSource=admin
    depends_on:
      mongodb:
        condition: service_healthy
    networks:
      - mongodb_network

networks:
  mongodb_network: